body
  background-color #FF9C25
  font-family sans-serif,arial

html,body
  height 100%

section
  border-radius 10px
  background-color white
  width 90%
  margin 0 5% 0 5%

img
  width 60% 
  margin 20% 20% 0 20% 
 h2
   margin-top 3%
   text-align center
   color white

#linea1
  border solid 2px white
  margin-bottom 8px


#section1
  h3
    color white
    border-top-left-radius 10px
    border-top-right-radius 10px
    background-color #FF504D
    padding 0.3em 0 0.3em 0
    margin-top 0.5em 

#section2
  h3
    color white
    border-top-left-radius 10px
    border-top-right-radius 10px
    background-color #3187C9
    padding 0.3em 0 0.3em 0
    margin-top 0.5em 

#section3
    margin-bottom 0.8em 
  h3
    color white
    border-top-left-radius 10px
    border-top-right-radius 10px
    background-color #7BC549
    padding 0.3em 0 0.3em 0
    margin-top 0.5em   



#linea2  
  h3
    text-align center
    font-size 1.1em
    margin-bottom 0
  p
    margin 0
    padding 0.5em
    color #8A8A8A
  img
    display none
    

@media screen and (min-width:320px)
  
  #section1
    h3
      font-size 22px
  #section2
    h3
      font-size 22px
  #section3
    h3
      font-size 22px
  #linea2  
    h3
      text-align center
      margin-bottom 0
    p
      font-size 18px
      margin 0
      padding 0.5em
  
